# .gitignore

backend/.env
backend/venv-3.11.8

# Ignore the virtual environment
env/
venv/
.venv/
.DS_Store/

# Environment file for iOS
.env

backend/entrypoint.sh

# Ignore other common Python files
__pycache__/
*.pyc
*.pyo
*.pyd

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

backend/staticfiles/

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

backend/firebase

