# .gitignore

backend/.env
backend/barbuddy-d51b1-firebase-adminsdk-fbsvc-f627ffbcff.json
# Ignore the virtual environment
env/
venv/

# Ignore other common Python files
__pycache__/
*.pyc
*.pyo
*.pyd
